<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <clear /> <!-- ensure only the sources defined below are used -->
    <add key="Test" value="PackageSourceOne" />
    <add key="Test" value="PackageSourceTwo" />
  </packageSources>
  <disabledPackageSources>
    <clear /> <!-- ensure only the sources defined below are used -->
  </disabledPackageSources>
  <activePackageSource>
    <clear /> <!-- ensure only the sources defined below are used -->
    <add key="Test" value="PackageSourceTwo" />
  </activePackageSource>
</configuration>